---
import Layout from '~/layouts/Layout.astro';
import { Image } from 'astro:assets';
import profileImage from '~/img/profile.jpg';
import degrees from '~/content/resume/degrees.json';
---

<Layout title="J. Simon Richard">
  <main class="max-w-screen-xl mx-auto px-4">
    <section id="hero" class="grid md:grid-cols-3 gap-8 mb-16 md:mt-56">
      <div
        class="relative h-36 w-36 p-4 md:p-0 md:w-64 md:h-64 place-self-center"
      >
        <Image
          src={profileImage}
          alt="J. Simon Richard"
          width={300}
          height={300}
          class="absolute rounded-full w-full h-full object-cover"
        />
      </div>
      <div class="self-center md:col-span-2">
        <h1 class="text-4xl font-bold mb-4">J. Simon Richard</h1>
        <p class="mb-4">
          I'm an aspiring machine learning researcher exploring ways to enhance
          AI reasoning through formal mathematical methods. I'm particularly
          interested in how automatic theorem proving and formal verification
          can help bridge the gap between large language models and precise
          logical reasoning.
        </p>

        <p>
          Research interests:

          <ul class="list-disc list-inside ml-4">
            <li class="text-sky-700">Automated Theorem Proving (ATP)</li>
            <li class="text-violet-700">AutoFormalization (AF)</li>
            <li class="text-green-700">Large Language Model (LLM) reasoning</li>
            <li class="text-pink-700">AI Safety</li>
            <li class="text-yellow-700">Formal program verification</li>
          </ul>
        </p>
      </div>
    </section>
    <section id="status" class="grid my-16">
      <div
        class="place-self-center p-6 bg-slate-200 rounded-lg max-w-screen-lg"
      >
        Currently completing my B.S. in Computer Science and Mathematics at
        Cleveland State University (4.0 GPA), with research experience in both
        industry and academia. Pursuing PhD opportunities in Computer
        Science/Machine Learning.
      </div>
    </section>

    <section id="education">
      <h2 class="text-2xl font-bold mb-4">Education</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-16">
        {
          degrees.map((d) => (
            <div class="border border-slate-200 rounded-lg p-6 max-w-screen-lg">
              <h3 class="text-lg font-bold mb-2">
                {d.name} ({d.gpa} GPA)
              </h3>
              <p class="mb-2">
                {d.graduation} &mdash;&nbsp;{d.location}
              </p>
              <ul class="list-disc list-outside ml-6">
                {d.notes.map((n) => (
                  <li>{n}</li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </section>
    <section id="research-experience">
      <h2 class="text-2xl font-bold mb-4">Research Experience</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-16"></div>
    </section>
    <section id="publications">
      <h2 class="text-2xl font-bold mb-4">Publications</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-16"></div>
    </section>
    <section id="leadership-teaching-experience">
      <h2 class="text-2xl font-bold mb-4">Leadership & Teaching Experience</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-16"></div>
    </section>
    <section id="additional-tech-experience">
      <h2 class="text-2xl font-bold mb-4">Additional Technical Experience</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-16"></div>
    </section>
  </main>
</Layout>
