---
import Layout from '~/layouts/Layout.astro';
import { Image } from 'astro:assets';
import profileImage from '~/img/profile.jpg';
import { cn } from '~/lib/utils';
import { englishList } from '~/components/solid/utils';
import { getCollection } from 'astro:content';
import { sortBySortIndex } from '~/content/config';
import Bibliography from '~/components/Bibliography.astro';
import BibItem from '~/components/BibItem.astro';

const education = await getCollection('resume-education');
const researchExp = await getCollection('resume-research-experience');
const leadershipTeachingExp = await getCollection(
  'resume-leadership-teaching-experience',
);
const techExp = await getCollection('resume-tech-experience');
education.sort(sortBySortIndex);
researchExp.sort(sortBySortIndex);
leadershipTeachingExp.sort(sortBySortIndex);
techExp.sort(sortBySortIndex);
---

<Layout title="J. Simon Richard">
  <main class="max-w-7xl mx-auto px-4">
    <section id="hero" class="grid lg:grid-cols-3 gap-8 mb-16 lg:mt-56">
      <div class="relative h-36 w-36 p-4 lg:w-64 lg:h-64 place-self-center">
        <Image
          src={profileImage}
          alt="J. Simon Richard"
          width={300}
          height={300}
          class="absolute rounded-full w-full h-full object-cover shadow-md"
        />
      </div>
      <div class="self-center lg:col-span-2">
        <h1 class="text-4xl font-bold mb-4">J. Simon Richard</h1>
        <p class="mb-4">
          I'm a <strong>first-year PhD student at Purdue University</strong> exploring
          ways to enhance LLM reasoning through formal mathematical methods. I'm particularly
          interested in how automatic theorem proving and formal verification can
          help bridge the gap between large language models and precise logical reasoning.
        </p>

        <p>
          Research interests:

          <ul class="list-disc list-inside ml-4 columns-2xs">
            <li>Large Language Model (LLM) reasoning</li>
            <li>Automated Theorem Proving (ATP)</li>
            <li>AutoFormalization (AF)</li>
            <li>AI Safety</li>
            <li>Formal program verification</li>
          </ul>
        </p>
      </div>
    </section>

    <section id="education" class="mb-16">
      <h2 class="text-2xl font-bold mb-4">Education</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {
          education.map((edu: any) => (
            <div class="border border-border rounded-lg p-6 max-w-5xl shadow-md">
              <h3 class="text-lg font-bold mb-2">
                {edu.data.name} {edu.data.gpa && `| ${edu.data.gpa} GPA`}
              </h3>
              <p class="mb-2">
                {edu.data.graduation} | {edu.data.location}
              </p>
              <ul class="list-disc list-outside ml-6">
                {edu.data.notes.map((n: string) => (
                  <li>{n}</li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </section>
    <section id="research-experience" class="mb-16">
      <h2 class="text-2xl font-bold mb-4">Research Experience</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {
          researchExp.map((r: any) => (
            <div class="border border-border rounded-lg p-6 max-w-5xl shadow-md">
              {r.data.cover && (
                <Image
                  src={r.data.cover}
                  alt={r.data.name}
                  class="mb-4 rounded-md border border-border"
                />
              )}
              <a
                href={r.data.link}
                target="_blank"
                class={cn(r.data.link && 'text-sky-700 hover:underline')}
              >
                <h3 class="text-md font-bold mb-2">{r.data.name}</h3>
              </a>
              <p class="mb-2">
                {r.data.start} &mdash; {r.data.end}
                <br />
                {r.data.location}
                <br />
                Advised by{' '}
                {englishList(
                  r.data.advisors.map((ad: string) => <strong>{ad}</strong>),
                )}
              </p>
              <ul class="list-disc list-outside ml-6">
                {r.data.notes.map((n: string) => (
                  <li>{n}</li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </section>
    <section id="publications" class="mb-16">
      <h2 class="text-2xl font-bold mb-4">Publications</h2>
      <div class="mb-16">
        <Bibliography class="flex flex-col gap-4">
          <BibItem>
            J. S. Richard, “Hybrid Quantum or Purely Classical? Assessing the
            Utility of Quantum Feature Embeddings,” Aug. 2024, doi:
            <a
              href="https://doi.org/10.12688/f1000research.154428.1"
              class="text-sky-700 hover:underline"
              >10.12688/f1000research.154428.1</a
            >.
          </BibItem>
          <BibItem>
            G. Averkov, K. von Dichter, S. Richard, and I. Soprunov, “Mixed
            volumes of zonoids and the absolute value of the Grassmannian
            (Extended Abstract),” Apr. 03, 2024, arXiv: arXiv:2404.02842. doi:
            <a
              href="https://doi.org/10.48550/arXiv.2404.02842"
              class="text-sky-700 hover:underline">10.48550/arXiv.2404.02842</a
            >.
          </BibItem>
          <BibItem>
            J. S. Richard, “Making the Transition to Post-Quantum Cryptography,”
            The Downtown Review, vol. 9, no. 2, May 2023, [Online]. Available:
            <a
              href="https://engagedscholarship.csuohio.edu/tdr/vol9/iss2/4"
              class="text-sky-700 hover:underline"
              >https://engagedscholarship.csuohio.edu/tdr/vol9/iss2/4</a
            >.
          </BibItem>
        </Bibliography>
      </div>
    </section>
    <section id="leadership-teaching-experience" class="mb-16">
      <h2 class="text-2xl font-bold mb-4">Leadership & Teaching Experience</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {
          leadershipTeachingExp.map((l: any) => (
            <div class="border border-border rounded-lg p-6 max-w-5xl shadow-md">
              {l.data.cover && (
                <Image
                  src={l.data.cover}
                  alt={l.data.name}
                  width={200}
                  height={200}
                  class="mb-4 mx-auto"
                />
              )}
              <h3 class="text-md font-bold mb-2">{l.data.name}</h3>
              <p class="mb-2">
                {l.data.start} &mdash; {l.data.end}
                <br />
                {l.data.location}
              </p>
              <ul class="list-disc list-outside ml-6">
                {l.data.notes.map((n: string) => (
                  <li>{n}</li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </section>
    <section id="additional-tech-experience" class="mb-16">
      <h2 class="text-2xl font-bold mb-4">Additional Technical Experience</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {
          techExp.map((t: any) => (
            <div class="border border-border rounded-lg p-6 max-w-5xl shadow-md">
              <h3 class="text-md font-bold mb-2">{t.data.name}</h3>
              <p class="mb-2">
                {t.data.start} &mdash; {t.data.end}
                <br />
                {t.data.location}
              </p>
              <ul class="list-disc list-outside ml-6">
                {t.data.notes.map((n: string) => (
                  <li>{n}</li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
